* {
	border: 0px dashed red;
	min-height: 10px;
}
body {
	background: black;
}

.postcard {
	padding: 15px;
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	right: 100%;
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	font-family: "DM Serif Text", serif;
	margin: 0%;
	width: 480px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 2px;
}

input {
	font-size: large;
	border-bottom: grey;
	border: none;
}
.body-right {
	color: grey;
}

.postcard-footer {
	text-align: center;
}

button:active {
	background-color: rgb(230, 230, 230);
	padding: 10;
	font-family: "DM Serif Text", serif;
}
